.Explore {
  margin-left: 34vw;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Explore-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.explore-img-cont {
  height: 15.36vw;
  width: 15.36vw;
  overflow: hidden;
}

.explore-img {
  width: 100%;
  object-fit: cover;
  height: 15.36vw;
  cursor: pointer;
}

@media (max-width:600px) {
  .Explore {
    margin-left: 0px;
    gap: 10px;
    align-items: flex-start;
    margin-top: 0;
    height: 100vh;
  }

  .Explore-main {
    gap: 0px;
  }

  .explore-img-cont {
    width: 33.33333vw;
    height: 33.33333vw;
    overflow: hidden;
  }

  .explore-img {
    width: 100%;
    height: 33.33333vw;
    object-fit: cover;

  }

}