.Homepage {
    display: flex;
    gap: 50px;
    margin-left: 300px;
    
}

.homepage-stories-section {
    width: 470px;
    height: 120px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.homepage-left-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.homepage-posts-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}