body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.side {
  background-color: #e4e4e4;
}
nav {
  padding-top: 25px;
  padding-left: 0px;
  border-right: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;
  height: 95vh;
}
.main-nav-title {
  height: 92px;
  width: 226px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-item {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 20px;
  width: 226px;
  height: 56px;

  
  
}

.nav-title {
  justify-self: flex-end;
}

.navbar-mid {
  flex: 2;
}
